@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
// @include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;
@include motion-ui-transitions;
@include motion-ui-animations;


body {
    background-color: #D9E5E9;
    font-family: 'Roboto', sans-serif;
}

#all-container {
    background-color: #D9E5E9; // reminder: setting a container to display: flex turns it into a flex parent, 
    // allowing you to apply foundation flex utility classes
    flex-direction: column;
    width: 60%;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 4px;
    @include breakpoint(medium only) {
        width: 90%;
    }
    @include breakpoint(small only) {
        width: 100%;
        padding: 0;
    }
}

// goal-setting and text input
#words-container {
    margin-top: 1rem;
    width: 100%;
    background-color: white;
    margin-bottom: 2rem;
    padding: 2rem 2rem 0.5rem 2rem;
    border-radius: 4px;
    @include breakpoint(small only) {
        border-radius: 0;
    }

    #title-input {
        border-radius: 4px;
    }

    #words-input {
        border-radius: 4px;
        resize: none;
        margin-bottom: 0;
        min-height: 5em;
        max-height: 50rem;
        width: 100%;
    }
}

// goal setting input
#goal-input {
    border-radius: 4px;
}

// buttons that allow you to set goal in characters, words, or paragraphs
#unit-button-group {
    font-family: 'Rubik', sans-serif;

    .unit-button {
        border-radius: 2px;
        margin-right: 0;
    }

    #characters-button {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #words-button {
        border-radius: 0px;
    }

    #paragraphs-button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .active {
        background-color: red;
    }
}

// text area
#word-input-container {
    position: relative;
}

#goal-display-tab {
    background-color: blue;
}


#goal-display-container {
    text-align: right;
    margin-top: 0.5rem;
}

#goal-display {
    cursor: pointer;
    text-align: right;
}

#goal-display:hover {
    color: grey;
}

// class that hides unit counter
.goal-display-hidden {
    color: #FFFFFF;
}

.goal-display-hidden:hover {
    color: gray;
}

// checkmark icon that appears when goal is met
#checkmark {
    transition: color 200ms;
    text-align: right;
}

.checkmark-unmet {
    color: grey;
}

.checkmark-met {
    color: green;
}

// utility class, currently used to make unit counter unselectable
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// entries container
#entries-container {
    width: 100%;
    border-radius: 4px;
    background-color: white;
    padding: 2rem;
    transition: all 400ms ease;
    overflow: hidden;
    @include breakpoint(small only) {
        border-radius: 0;
    }
}

// inidividual entry
.entry {
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    color: white;
    background-color: purple;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    height: 14rem;
    line-height: 20px;

    p {
        display: block;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;

    }

    .title {
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
    }

    .date {}

    .teaser {
        font-size: 1rem;
    }
}


// truncutate text
.truncate {
    width: 100%;
    height: 8rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.closed-div {
    height: 0;
}

.open-div {
    height: var(--fullHeight);
}

#test-entry {
    background-color: blue;
}

.entry:hover {
    transform: scale(1.1, 1.1);
    transition: 200ms ease;
}

.fullscreen {
    max-height: calc(100% - 100px);
    position: fixed;
    width: 65%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: gray !important;
    cursor: auto;
    display: none;
}

// save button 
.save {
    width: 100%;
    background-color: purple;
    border-radius: 4px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

// MISC
// hide number input spinners
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text-align-right {
    text-align: right;
}

.display-block {
    display: block;
}

.scaleIn {
    // A long, long fade
    @include mui-zoom( $state: in,
    $from: 0.5,
    $to: 1,
    $fade: true,
    $duration: 200ms,
    $timing: ease);
}

.scaleOut {
    // A long, long fade
    @include mui-zoom( $state: out,
    $from: 1,
    $to: 0.5,
    $fade: true,
    $duration: 200ms,
    $timing: ease);
}


// MISC

.container-header {
        margin-bottom: 1.5rem;
    }