@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
// @include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;
@include motion-ui-transitions;
@include motion-ui-animations;

$background: #F8F8F8;
$container-background: white;
$border-radius: 4px;
$header-color: #006992;
// $header-color: #3C4F76;
$grey: #2E3532;
@mixin box-shadow{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}


body {
    background: $background;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #50514F;
}

#all-container {
    background: none; // reminder: setting a container to display: flex turns it into a flex parent, 
    // allowing you to apply foundation flex utility classes
    flex-direction: column;
    width: 60%;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 4px;
    @include breakpoint(medium only) {
        width: 90%;
    }
    @include breakpoint(small only) {
        width: 100%;
        padding: 0;
    }
}

#new-entry-header {
    color: white;
    background-color: $header-color;
    font-size: 1.10rem;
    line-height: 3rem;
    height: 3rem;
    weight: bold;
    border-radius: $border-radius $border-radius 0 0;
    @include box-shadow;
    font-family: 'Rubik';
    font-weight: 900;
    text-transform: uppercase;
    @include breakpoint(small only) {
        border-radius: 0;
    }
}

// goal-setting and text input
#words-container {
    width: 100%;
    background-color: $container-background;
    margin-bottom: 2rem;
    padding: 2rem 2rem 0.5rem 2rem;
    border-radius: 0 0 $border-radius $border-radius;
    @include box-shadow;
    @include breakpoint(small only) {
        border-radius: 0;
    }

    #title-input {
        border-radius: 4px;
    }

    #words-input {
        border-radius: 4px;
        resize: none;
        margin-bottom: 0;
        min-height: 5em;
        max-height: 50rem;
        width: 100%;
    }
}

// goal setting input
#goal-input {
    border-radius: 4px;
}

// buttons that allow you to set goal in characters, words, or paragraphs
#unit-button-group {
    font-family: 'Roboto', sans-serif;

    .unit-button {
        border-radius: 2px;
        margin-right: 0;
        background-color: #C7EFCF;
        color: #b3d7ba;
        font-weight: bold;
    }

    .unit-button:hover {
        background-color: #b3d7ba;
        color: white;
    }

    #characters-button {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #words-button {
        border-radius: 0px;
    }

    #paragraphs-button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .active {
        background-color: #b3d7ba;
        color: $grey;
    }
}

// text area
#word-input-container {
    position: relative;
}

#goal-display-tab {
    background-color: blue;
}


#goal-display-container {
    text-align: right;
    margin-top: 0.5rem;
    cursor: pointer;
}

#goal-display {
    text-align: right;
    font-weight: 800;
}

#goal-display:hover {
    color: grey;
}

// class that hides unit counter
.goal-display-hidden {
    color: #FFFFFF;
}

.goal-display-hidden:hover {
    color: gray;
}

// checkmark icon that appears when goal is met
#checkmark {
    transition: color 200ms;
    text-align: right;
}

.checkmark-unmet {
    color: grey;
}

.checkmark-met {
    color: green;
}

.checkmark-hidden {
    opacity: 0;
}

// utility class, currently used to make unit counter unselectable
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


// entries container
#entries-container {
    width: 100%;
    border-radius: 4px;
    background-color: $container-background;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 800ms ease;
    overflow: hidden;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    @include box-shadow;
    border-radius: 0 0 $border-radius $border-radius;
    @include box-shadow;
    @include breakpoint(small only) {
        border-radius: 0;
    }
}

// inidividual entry
.entry {
    border-radius: 4px;
    background-color: white;
    border: 1px solid #E8E8E8;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    height: 14rem;
    line-height: 20px;
    transition: 200ms ease;
    position: relative;
    width: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;


    p {
        display: block;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        margin: 0 0.75rem;
        color: $grey;

    }

    .title {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1rem;
        margin-top: 1rem;
        line-height: 1.25rem;

    }

    .date {
        font-size: 0.75rem;
        color: #808080;
        text-transform: uppercase;
    }

    .teaser {
        font-size: 0.95rem;
        line-height: 1.25rem;
        margin-top: 1rem;
    }

    .goal-met {
        height: auto;
        color: $grey;
        background-color: #C7EFCF;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: 2.5rem;
        line-height: 2.5rem;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 800;
        font-family: 'Roboto';
    }

    .goal-unmet {
        height: auto;
        color: $grey;
        background-color: #F25F5C;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: 2.5rem;
        text-transform: uppercase;
        line-height: 2.5rem;
        font-weight: 800;
        font-family: 'Roboto';
    }
}


// truncutate text
.truncate {
    width: 100%;
    height: 8rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.closed-div {
    height: 0;
    padding-top: 0;
}

.open-div {
    height: var(--fullHeight);
    padding-top: 2rem;
    padding-bottom: 2rem;

}

#hide-icon {
    color: white;
}

#test-entry {
    background-color: blue;
}

.entry:hover {
    transform: scale(1.1, 1.1);
    transition: 200ms ease;
    border: 1px solid #C8C8C8;
}

.fullscreen {
    max-height: calc(100% - 100px);
    position: fixed;
    width: 65%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: gray !important;
    cursor: auto;
    display: none;
}

// save button 
.save {
    width: 100%;
    background-color: #674CAA;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.save:hover {
    background-color: #463474;

}

// MISC
// hide number input spinners
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text-align-right {
    text-align: right;
}

.display-block {
    display: block;
}

.scaleIn {
    // A long, long fade
    @include mui-zoom( $state: in,
    $from: 0.5,
    $to: 1,
    $fade: true,
    $duration: 200ms,
    $timing: ease);
}

.scaleOut {
    // A long, long fade
    @include mui-zoom( $state: out,
    $from: 1,
    $to: 0.5,
    $fade: true,
    $duration: 200ms,
    $timing: ease);
}


// MISC

.container-header {
        margin-bottom: 1.5rem;
    }

.text-right {
    text-align: right;
}

input[type="text"], [type="number"] {
    box-shadow: none;
}

textarea {
    box-shadow: none;
}